/* test */

* { padding: 0px; margin: 0px; }
body { background:#EEE; position: relative; }

.content {
    width:600px;
    max-width: calc(100% - 40px);
    margin: auto;
}

.news_block {
    padding: 0px;
    background:#FFF;
    box-shadow: 0px 5px 10px #00000022;
    margin-bottom: 10px;
    position: relative;
}
.news_block:last-child { margin-bottom:0px; }

.menu { margin-top:10px; border-bottom:1px solid #AA2222; }
.menu .item { display:inline-block; background:#FFF; padding:0px 20px; height:40px; line-height: 40px; }
.menu .item_filter { background:#5eb5e0; }
.menu a { color:#000; }

.news_block .id { position: absolute; background:#A22; right:20px; top:0px; height:40px; padding:0px 15px; color:#FFF; line-height: 40px; }
.news_block .title { font-size: 1.4em; padding:20px 20px 0px 20px; }
.news_block .poster { max-width: 100%; }
.news_block p { padding:20px; }

.news_block .tags { padding: 0px 20px 20px 20px; }
.news_block .tag { height: 30px; line-height: 30px; padding:0px 10px; background:#DDD; display: inline-block; color:#000; }
.news_block .tag_selected { background:#5eb5e0; }
.news_block .info { font-size: 0.8em; color:#666; padding:0px 20px; }

.news_block .data { width:calc(100% - 40px); border-spacing: 0px 20px; margin:0px 20px 0px 20px; }

.toolbox { position: relative; height:30px; line-height:30px; margin-bottom: 10px; text-align: center; margin-top:10px; }
.toolbox_counter { position: absolute; left:100px; top:0px; width:calc(100% - 200px); height:30px; font-size: 1.4em; color:#AA2222; display: inline-block; }
.toolbox_counter small { color:#444; }

.toolbox_left, .toolbox_right { display: inline-block; background: #DDD; height:30px;  width:100px; color:#000; }
.toolbox_left:hover, .toolbox_right:hover { background: #A22; color:#FFF; }
.toolbox_left { float:left; }
.toolbox_right { float: right; }

/*
input[type=text],input[type=submit] { height:30px; padding:0px 4px; width:100%; }
button[type=submit] { background: #5eb5e0; border:0; }
textarea { width:100%; height:100px; padding: 4px; }
 */