{% extends 'base.html.twig' %}

{% block title %}Добавить новость{% endblock %}

{% block body %}
    <div class="container mt-2">
        <h3 class="h3">Добавить новость</h3>
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.body) }}
        {{ form_row(form.poster) }}
        {{ form_row(form.user) }}
        <div id="tags" style="padding:10px;background:#EEE;margin-bottom:10px;" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
            <div class="title" style="margin-bottom:10px">Теги новости</div>
            {% for tag in form.tags %}
                <div class="tag">{{ form_row(tag) }}</div>
            {% endfor %}
            <div class="btn btn-primary" onclick="AddTag()">Добавить тег</div>
        </div>
        {{ form_row(form.save) }}
        {{ form_end(form) }}


        {{ dump(form) }}
    </div>

    <script type="text/javascript">
        function AddTag()
        {
            $("#tags").find(".title").append($("#tags").attr("data-prototype"));
        }
    </script>

{% endblock %}