<html>
<head>
    <title>Новости</title>
    <link href="/main.css" rel="stylesheet" />
</head>
</html>
<body>
<div class="content">

    <div class="menu">
        <a href="/news"><div class="item">Домой</div></a>
        <a href="/news/create"><div class="item">Добавить</div></a>
        {% if tag %}<div class="item item_filter">{{ tag }}</div>{% endif %}
    </div>

    {% if pages %}
    <div class="toolbox">
        <div class="toolbox_counter">{{ page }} <small>/ {{ pages }}</small></div>
        {% if page_prev %}<a href="?page={{ page_prev }}"><div class="toolbox_left"> Назад </div></a>{% endif %}
        {% if page_next %}<a href="?page={{ page_next }}"><div class="toolbox_right"> Вперед </div></a>{% endif %}
    </div>
    {% endif %}

{% for news in list %}
    <div class="news_block">
        <div class="id">{{ news.id }}</div>
        <img class="poster" src="/uploads/{{ news.poster }}" alt="news.poster">
        <div class="title">{{ news.title }}</div>
        <p class="info">{{ news.created|date("d.m.Y") }} | <b>{{ news.user }}</b></p>
        <p>{{ news.body }}</p>
        {% if news.tags %}
            <div class="tags">
                {% for tg in news.tags %}<a href="/news/tag/{{ tg.value|url_encode }}"><div class="tag {% if tag==tg.value %}tag_selected{% endif %}">{{ tg.value }}</div></a>{% endfor %}
            </div>
        {% endif %}
    </div>
{% else %}
    <div class="news_block" style="margin-top:10px;"><p>Ни одной новости не найдено!</p></div>
{% endfor %}

    {% if pages %}
        <div class="toolbox">
            <div class="toolbox_counter">{{ page }} <small>/ {{ pages }}</small></div>
            {% if page_prev %}<a href="?page={{ page_prev }}"><div class="toolbox_left"> Назад </div></a>{% endif %}
            {% if page_next %}<a href="?page={{ page_next }}"><div class="toolbox_right"> Вперед </div></a>{% endif %}
        </div>
    {% endif %}

</div>
</body>