{# templates/news/number.html.twig #}
<html>
    <head>
        <title>Number test</title>
        <link href="/main.css" rel="stylesheet" />
    </head>
</html>
<body>
<div class="content">
    Your <i>random</i> number between {{ start }} and {{ end }} = <b>{{ number }}</b>
</div>
</body>